@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

/* As of NextJS 13, next/link is using <a> tags with default styles. */
a {
  text-decoration: none;
}
